* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0 auto;

  font-family: "Open Sans", "Tahoma", sans-serif;
  .font-size(14px, 24px);

  color: @text-blue;
  background: white;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

// .visually-hidden {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   padding: 0;
//   overflow: hidden;
//   border: 0;
//   clip: rect(0 0 0 0);
// }
