.contacts {
  padding: 48px 0 40px;

  font-weight: 300;
  text-align: center;

  .wrapper();
}

.contacts__title {
  margin: 0 auto;
  margin-bottom: 35px;

  font-weight: 300;
  line-height: normal;

  .font-size(24px, 30px);

  @media @tablet {
    width: 465px;
    margin-bottom: 45px;

    .font-size(40px, 50px);
  }

  @media @desktop {
    margin-bottom: 55px;

    .font-size(50px, 60px);
  }
}

.contacts__list {
  @media @desktop {
    display: flex;
    justify-content: space-between;
  }
}

.contacts__item {
  :not(:last-child) {
    margin-bottom: 22px;
  }
  @media @tablet {
    display: inline-block;
    width: 49%;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    &:last-child {
      width: 212px;
    }
  }

  @media @desktop {
    width: 33.333333%;
    margin-bottom: 0;

    &:nth-child(2) {
      order: 1;
    }
  }
}

.contacts__item-title {
  font-weight: bold;
  font-size: 18px;
}

.contacts__item-info {
  color: @text-red;

  .font-size(24px, 30px);
}
