.contacts {
  padding: 48px 20px 40px;

  text-align: center;
  line-height: 24px;
  font-weight: 300;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 45px;

  .font-size(24px, 30px);
  font-weight: 300;
}

.contacts__item-title {
  margin: 0;

  font-size: 18px;
  font-weight: bold
}

.contacts__item-info {
  margin: 0;

  font-size: 24px;

  color: @text-red;
}
