.effect {
  padding: 60px 0 30px;

  font-size: 0;

  @media @mobile {
    .visibility-hidden();
  }

  @media @desktop {
    padding-top: 65px;

    background-color: @grey;
  }
}

.effect__diagram {
  display: inline-block;
  width: 310px;
  height: 280px;

  vertical-align: top;

  @media @desktop {
    width: 370px;
  }
}

.effect__description {
  display: inline-block;
  width: 310px;
  padding-top: 40px;

  vertical-align: top;

  .font-size(14px, 24px);

  @media @desktop {
    width: 570px;
  }
}

.effect__title br {
  @media @desktop {
    display: none;
  }
}

.effect__research-link {
  color: @link;
}

.effect__title {
  .font-size(30px, 36px);
}

.effect__text {
  width: 305px;

  @media @desktop {
    width: 430px;
  }
}
