.info {
  padding: 46px 20px 0;

  text-align: center;

  background-color: @grey;
  background: url(/img/iphone-screen-mobile@1x.png) no-repeat center bottom;
}

.info__title {
  margin: 0;

  .font-size(24px, 30px);
  font-weight: 300;
}

.info__item-title {
  color: @title-black;
  .font-size(18px, 24px);
  font-weight: bold;
}
