.info {
  padding-top: 38px;

  @media @tablet {
    padding-top: 52px;
  }

  @media @desktop {
    padding-top: 72px;
  }
}

.info__title {
  margin-bottom: 28px;

  font-weight: 300;
  text-align: center;

  .font-size(24px, 30px);

  @media @tablet {
    margin-bottom: 48px;

    .font-size(40px, 48px);
  }

  @media @desktop {
    margin-bottom: 58px;

    .font-size(50px, 58px);
  }

  &--tight {
    @media @tablet {
      width: 335px;
      margin: 0 auto;
      margin-bottom: 48px;
    }

    @media @desktop {
      width: 425px;
      margin-bottom: 78px;
    }
  }

  &:first-child {
    @media @tablet {
      margin-bottom: 0;
    }
  }
}

.info__background {
  background-color: @grey;
  background-image: url(/img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.info__list {
  padding-top: 82px;
  padding-bottom: 277px;

  background-image: url(/img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: center 510px;

  .wrapper();

  @media @tablet {
    padding-top: 72px;
    padding-bottom: 38px;
    padding-left: 310px;

    background-position: left top;
    background-size: 270px;
  }

  @media @desktop {
    display: flex;
    justify-content: space-around;
    padding-top: 0;
    padding-left: 0;

    background-image: none;
  }
}

.info__item {
  width: 280px;
  margin-bottom: 35px;

  &:last-child {
    @media @tablet {
      margin-bottom: 0;
    }
  }

  @media @tablet {
    width: 310px;
  }

  @media @desktop {
    position: relative;

    width: 246px;
    margin-bottom: 0;
    padding-top: 356px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 3px;

      width: 246px;
      height: 302px;

      background-image: url(/img/iphone-screen-mobile@1x.png);
      background-repeat: no-repeat;
      background-position: center top;
      background-size: 186px;
      box-shadow: inset 20px 0 10px -10px #f2f2f2,
      inset -20px 0 10px -10px #f2f2f2,
      inset 0 -11px 8px -12px grey;
    }
  }
}

.info__item-title {
  margin: 0 auto;
  margin-bottom: 12px;

  font-weight: bold;
  text-align: center;
  color: @title-black;

  .font-size(18px, 24px);

  @media @tablet {
    text-align: left;
  }

  @media @desktop {
    position: relative;

    width: 235px;
    margin-bottom: 27px;

    text-align: center;

    .font-size(30px, 30px);
  }
}

.info__item-text {
  text-align: center;
  @media @tablet {
    text-align: left;
  }
  @media @desktop {
    text-align: center;

    .font-size(18px, 30px);
  }
}
