.label {
  position: absolute;

  width: 140px;
  height: 36px;
  padding: 3px 0;

  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: @white;
  text-transform: uppercase;

  background-color: @red;

  &--price-hit {
    top: 8px;
    left: -46px;

    font-size: 14px;

    background-color: transparent;
    transform: rotate(-45deg);

    @media @tablet {
      top: 5px;

      line-height: 19px;
    }
  }
}
