.main-nav {
  position: relative;

  font-weight: bold;
  text-align: center;
  color: @menu;
  text-transform: uppercase;

  background-color: @blue;

  .font-size(18px, 32px);

  @media @desktop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    font-weight: normal;
    line-height: 18px;
    text-transform: none;

    background-color: @black-faded;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -9px;
  right: -9px;

  width: 40px;
  height: 40px;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 18px;
    right: 6px;

    width: 30px;
    height: 4px;

    font-size: 0;

    background-color: @white;
    transform: rotate(45deg);
  }

  &::before {
    box-shadow: none;
    transform: rotate(-45deg);
  }

  @media @desktop {
    display: none;
  }
}

.main-nav__list {
  @media @desktop {
    vertical-align: top;

    .clearfix();
    .wrapper();
  }
}

.main-nav__wrapper {
  position: relative;

  width: 280px;
  margin: 0 auto;

  @media @tablet {
    width: 620px;
  }

  @media @desktop {
    width: auto;
  }
}

.main-nav__list-item {
  padding: 16px 20px;

  border-top: 1px solid black;
  border-bottom: 1px solid black;

  @media @desktop {
    display: inline-block;
    float: left;
    padding-right: 0;
    padding-left: 0;

    border: none;

    &:not(:last-child) {
      margin-right: 120px;
    }
  }
}

.main-nav__list-link {
  color: @white;
  text-decoration: none;

  &:hover {
    color: @menu-hvr;
  }
  &:active {
    color: @menu-down;
  }

  &--active {
    border-bottom: 1px solid @white;

    &:hover {
      border-color: @menu-hvr;
    }
    &:active {
      border-color: @menu-down;
    }
  }
}
