.map {
  height: 200px;

  background-image: url(/img/bg-triangle-white-footer.svg), url(/img/bg-map-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: top center, center;
  background-size: contain, cover;
}
