.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;

  .wrapper();

  @media @mobile {
    flex-direction: column;
  }

  @media @tablet {
    padding-bottom: 36px;
  }

  @media @desktop {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  &--hidden {
    @media @mobile {
      .visibility-hidden();
    }
  }
}

.page-footer__logo {
  width: 150px;
  height: 52px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 36px;

  line-height: 36px;
  color: @text-blue;
  text-decoration: none;

  fill: @red;

  @media @desktop {
    justify-content: space-between;

    font-size: 18px;
  }
  &:hover {
    fill: @blue;
  }

  &:active {
    fill: #e9ebec;
  }
}
