.photo__title {
  width: 250px;
  margin: 0 auto;
  padding: 45px 0 52px;

  font-weight: normal;
  line-height: 30px;
  text-align: center;

  @media @tablet {
    width: 350px;
  }

  @media @tablet {
    width: 450px;
  }
}

.photo__list {
  .clearfix;
  .wrapper();
}


.photo__item {
  margin-bottom: 20px;

  background-color: @grey;

  &:nth-child(2) {
    .photo__image {
      background-color: #494544;
    }
  }

  &:nth-child(3) {
    .photo__image {
      background-color: #49351d;
    }
  }

  &:nth-child(4) {
    .photo__image {
      background-color: #66737c;
    }
  }

  &:nth-child(5) {
    .photo__image {
      background-color: #dc882f;
    }
  }

  &:nth-child(6) {
    .photo__image {
      background-color: #706248;
    }
  }

  &:nth-child(7) {
    .photo__image {
      background-color: #c5bfa9;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(2n+2) {
    @media @tablet {
      margin-right: 16px;
    }
    @media @desktop {
      margin-right: 0;
    }
  }

  &:not(:nth-child(3n+1)) {
    @media @desktop {
      margin-right: 16px;
    }
  }

  &:not(:first-child) {
    @media @tablet {
      display: inline-block;
      width: 300px;

      vertical-align: top;
    }
  }
}

.photo__image {
  width: 280px;
  height: 180px;

  & img {
    height: 180px;
  }

  &--full {
    width: 100%;
    height: 136px;

    background-color: #30371f;

    @media @tablet {
      height: 508px;
    }

    & .label {
      right: 0;

      @media @tablet {
        top: 57px;
      }
    }

    & img {
      width: 100%;
      height: 136px;
    }
  }
}

.photo__description {
  padding: 18px;

  @media @tablet {
    padding: 24px 27px;
  }
}

.photo__author {
  font-weight: bold;
}

.photo__time {
  font-weight: 300;
  font-size: 12px;
  color: @text-blue-faded;
  text-transform: uppercase;
}

.photo__like-amount {
  font-size: 12px;
  text-transform: uppercase;
}

.photo__upload {
  padding-bottom: 40px;

  text-align: center;

  background-color: @grey;
}

.photo__upload-wrapper {
  .wrapper();

  @media @tablet {
    padding-bottom: 80px;

    .clearfix();
  }

  @media @desktop {
    padding-right: 57px;
    padding-left: 57px;
  }
}

.photo__upload-image {
  width: 280px;
  height: 374px;

  background-color: #bbcfe7;

  @media @tablet {
    float: left;
    width: 300px;
    margin-right: 20px;
  }
}

.photo__controls {
  @media @tablet {
    float: left;
    width: 300px;
  }
}
