.promo {
  position: relative;

  height: 732px;

  font-weight: 300;
  text-align: center;
  color: @title-white;

  background-color: @blue;
  background-image: url(/img/iphone-hand-mobile@1x.png), url(/img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center 176px, center top;

  @media @tablet {
    height: 728px;

    background-position: 90% 101px,
    center top;
    background-size: 476px,cover;
  }

  @media @desktop {
    height: 853px;

    background-position: 86.170212% 101px, center top;
  }

  &--small {
    height: 239px;

    background-image: url(/img/bg-back-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    @media @tablet {
      height: 440px;
    }

    @media @desktop {
      height: 394px;
    }
  }
}

.promo__info {
  padding: 487px 0 30px;

  @media @tablet {
    width: 300px;
    padding-top: 200px;
  }

  @media @desktop {
    padding-top: 220px;
  }
}

.promo__header {
  display: block;
  width: 198px;
  margin: 0 auto;
  margin-bottom: 28px;

  font-weight: 300;
  text-align: center;

  .font-size(40px, 50px);

  @media @mobile {
    .visibility-hidden();
  }

  @media @desktop {
    width: 250px;
    margin-bottom: 49px;

    .font-size(50px, 60px);
  }
}

.promo__title {
  display: inline-block;
  width: 230px;
  margin: 0 auto;
  margin-top: 100px;

  font-weight: 300;
  text-align: center;

  .font-size(24px, 29px);

  @media @tablet {
    width: 400px;
    margin-top: 180px;

    .font-size(50px, 60px);
  }

  &--form {
    @media @tablet {
      width: 500px;
      margin-top: 180px;
    }

    @media @desktop {
      width: 720px;
      margin-top: 173px;
    }
  }
}

.promo__brand-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 55px;
  margin: 32px 0 25px;
}

.promo__brand-item {
  display: block;
  height: 55px;
}

.promo__text {
  .font-size(14px, 24px);

  @media @tablet {
    font-size: 18px;
    letter-spacing: -0.5px;
  }
}
