.reviews {
  padding-top: 43px;
  padding-bottom: 32px;

  text-align: center;

  .font-size(14px, 30px);
  .wrapper();

  @media @tablet {
    padding-top: 34px;
    padding-bottom: 25px;
  }
  @media @desktop {
    padding-top: 188px;
    padding-bottom: 10px;

    font-size: 18px;

    background-image: url(/img/icon-quotes.svg);
    background-repeat: no-repeat;
    background-position: center 70px;
    background-size: 79px;
  }
}

.reviews__list {
  position: relative;

  display: flex;
  flex-direction: column;
}

.review__item {
  .font-size(14px, 24px);
  @media @tablet {
    display: flex;
    flex-direction: column;
  }

  @media @desktop {
    .font-size(18px, 30px);
  }
}

.review__item:nth-child(n+2) {
  display: none;
}

.reviews__name {
  margin-bottom: 16px;

  font-weight: bold;
  font-size: 18px;


  @media @tablet {
    margin-bottom: 2px;

    font-size: 20px;
  }

  @media @desktop {
    font-size: 24px;
  }
}

.reviews__info {
  @media @mobile {
    .visibility-hidden();
  }
}

.reviews__comment {
  line-height: 30px;
  @media @tablet {
    order: -1;
    margin-bottom: 35px;

    font-size: 18px;
  }

  @media @desktop {
    width: 680px;
    margin: 0 auto;
    margin-bottom: 35px;
  }
}
