.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;

  @media @mobile {
    margin: 40px 0;
  }
}

.social__link {
  content: " ";

  width: 52px;
  height: 52px;

  color: @red;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid @grey;
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 12px;
  }

  &--twitter {
    background-image: url(/img/icon-twitter.svg);
  }
  &--facebook {
    background-image: url(/img/icon-facebook.svg);
  }
  &--youtube {
    background-image: url(/img/icon-youtube.svg);
  }
}
